<div id="microblog_form">
<% form_for(@microblog) do |f| %>
  <% if @microblog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microblog.errors.count, "error") %> prohibited this microblog from being saved:</h2>

      <ul>
      <% @microblog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :body %>
  </div>
  <% if @project %>
    <%= f.hidden_field :project_id, {:value => @project.id} %>
  <% end %>
  <div class="actions" style="text-align:right;margin:0.5em auto;">
    <%= f.submit l(:microblog_submit) %>
  </div>
<% end %>
</div>
