<div class="microblog">
  <div class="icon-gravatar">
    <%= avatar(microblog.user, :size => 50) %>
  </div>
  <div class="entry">
  	<div class="head">
      <h4> <%= link_to_user microblog.user %></h4>
      <span class="login"><%= "@"+microblog.user.login%></span>
      <span class="info">
      	<%= link_to format_time(microblog.created_at), microblog %>
        <br />
        <%= link_to l(:microblog_delete), microblog, :confirm => l(:microblog_delete_confirm), :method => :delete if (microblog.user.id == User.current.id && User.current.allowed_to?({:controller => :microblogs, :action => :destroy}, @project || @projects, :global => true)) || User.current.admin? %>
      </span>
  	</div>
    <p class="body"><%= textilizable(microblog, :body) %></p>
  </div>
</div>