<%= stylesheet_link_tag 'application', :plugin => 'redmine_microblog' %>
<%= javascript_include_tag 'application', :plugin => 'redmine_microblog' %>
<h1><%= l(:microblog)%></h1>
<script>
  var interval = 60;
  var recent_params = {id:<%= @microblogs.first.id %>}
  var history_params = {id:<%= @microblogs.last.id %>}
  function view_recent(){Microblog.frequency('entries', '<%= url_for({:action => :more_recent})%>', recent_params);}
  function view_history(){Microblog.update('entries', '<%= url_for({:action => :more_history})%>', history_params);}
  setInterval(view_recent, 1000 * interval);
</script>

<%= render 'form' %>
<div id="entries">
  <% @microblogs.each do |microblog| %>
  <%= render microblog %>
  <% end %>
</div>
<a href="javascript:void(0);" onclick="view_history();" id="link_more"><%=l(:microblog_more)%></a>