<%= stylesheet_link_tag 'application', :plugin => 'redmine_microblog' %>
<%= javascript_include_tag 'application', :plugin => 'redmine_microblog' %>
<p id="notice"><%= notice %></p>

<%= render @microblog %>


<%= link_to 'Back', microblogs_path %>
